neural-pipeline-search==0.11.0
torch
torchvision
torchaudio
lightning
wandb
torchmetrics
torchinfo

pandas
pyarrow
numpy
tqdm
ConfigSpace
scikit-learn
matplotlib

biopython

more-itertools
pyensembl
requests
scikit-bio
tables

# fair-esm 
# rna-fm
submitit
seaborn

selenium